<!--Template-->

<div id="vueapp">
    <input type="text" v-model="firstName" />
    <br />

    <span> Text from input tag:</span>
    <br />

    <p> {{ firstName }}</p>
    <br />

    <span> Text from component Comp1:</span>
    <br />

    <comp1 v-bind:foo="firstName"></comp1>
</div>

<div id="app">

    <div id="names" class="container" v-if="state">
        <h1>Who pays the bill?????</h1>

        <div class="input_container">
            <input type="text" v-model="inputName">
            <button @click="addNameToList">ADD</button>
        </div>
        <br />
        <div class="error_label" v-if="showError">
            Please enter a name!!!!
        </div>
        <div class="input_container">
            <button class="container1" v-for="(name, index) in names"
                    :key="index"
                    @click="removeName">

                {{ name }}
            </button>
        </div>
        <div v-if="names.length > 1">
            <br />
            <button class="btn-warning"
                    @click="showResults(index)">
                Check the loser
            </button>
            <br />
        </div>
    </div>

    <div id="result" class="container" v-if="!state">
        <div class="result_container">
            <h1>The loser is: </h1>
            <br />
            <div class="label-danger">

                {{ result }}
            </div>
            <br />
            <button class="btn-default" @click="resetApp">
                Start again!
            </button>
        </div>
    </div>
</div>
<style>
    body {
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    .container1 {
        min-height: 4vh;
        box-sizing: border-box;
        padding: 20px;
    }
</style>